@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: black;
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1fr 1.2fr .4fr;
    justify-items: center;
    font-family: "ROBOTO", cursive;

}

.background {
    position: absolute;
    /* height: 100vh; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
  }
 .logo{
   margin-top: 20px;
   grid-row: 1/2;
   /* position: fixed;
   top: 50px; */
  
 }
  img{
    position: relative;
    z-index: 3;
    width: 150px;
    height: auto;
    
  }
  .sccText{
    grid: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
  }
 
.scc{
  
    font-size:60px;
    margin-right: 15px;
    font-family: cursive;
    color:#2535B2;
    position: relative;
    z-index: 3;
}
.text{
     
    border-right:rgb(238, 9, 226) SOLID ;
    font-size: 50px;
    
    font-family: cursive;
    color: WHITE;
    position: relative;
    z-index: 3;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper{
    /* position: fixed; */
    z-index: 3;
    /* margin-top: 450px; */
    /* display: inline-flex; */
    grid: 3/4;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}



.wrapper .icon {
  position:relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 15px;
  width: 100px;
  height: 100px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
a{
  color: black;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}


.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
p{
  color: #ffffff;
  /* position: fixed; */
  z-index: 3;
  /* margin-top: 600px; */
  grid: 4/5;
  
}

@media (min-width: 280px) and (max-width: 767px) {
 
  .wrapper .icon {
    width: 80px;
    height: 80px;
    font-size: 28px;
  }
  

}
